<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>Cart</title>
	</head>
	
	<!-- 実際の画面表示は以下から -->
	<body>
		<div style="text-align:center;"><!-- ←centerが効かない… -->
			<h1>何を買おうとしとるんやろうなぁ…　ククク…</h1>
			<br>
			<a class="btn btn-default" href="/User">マイページ</a> 
			<br>
			<a class="btn btn-default" href="/Products">商品一覧</a>
			<br>
			<a class="btn btn-default" href="/Index">ログアウト</a>
			<br>	
			<form><input type="button" value="ログアウト" onClick="win_open()"></form> 
			    <script type="text/javascript" th:inline="javascript">
			    function win_open() {
			    	window.open("top.popup.html","","width=700,height=700"); 
			    }
				</script> 
		</div>
	</body>
</html>
