<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>Login</title>
			

	</head>
	
	<!-- 実際の画面表示は以下から -->
	<body>
		<div class="container">
			<h1>買い物をするにはログインしてや</h1>
			<table>
            	<tr th:each="emp : ${emplist}" th:object="${emp}">
                	<td th:text="*{user_name}"></td>
                	<td th:text="*{password}"></td>
                	<td th:text="*{address_1}"></td>
            	</tr>
        	</table>
		</div>
	</body>
</html>