<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>User</title>
			

	</head>
	
	<!-- 実際の画面表示は以下から -->
	<body>
	<h1>HumanShopJapan</h1>
	<div style="text-align:center;">
		<div class="container">
			<h1>新規情報登録画面</h1>
			<fieldset> 
		      <h3>アカウント情報登録</h3> 
		      <form action="/NewLogin" method="post"> 
		        <div class="iconUser"></div> 
		        <label class="control-label">ユーザーID</label>
		          <input type="text" placeholder="メールアドレス" name="userId" required> 
		          <br><br> 
		        <div class="iconUser"></div> 
		        <label class="control-label">ユーザー名</label>
		          <input type="text" placeholder="名前" name="userName" required> 
		          <br><br> 
		        <div class="iconPassword"></div> 
		        <label class="control-label">パスワード</label>
		      	<input type="password" placeholder="パスワード" name="password" required> 
		      	　　<br><br>
		      	<div class="iconPassword"></div> 
		        <label class="control-label">住所1(必須)</label>
		      	<input type="text" placeholder="住所" name="address1" required> 
		      	　　<br><br>
		      	<div class="iconPassword"></div> 
		        <label class="control-label">住所2(任意)</label>
		      	<input type="text" placeholder="住所" name="address2"> 
		      	　　<br><br>
		      	<div class="iconPassword"></div> 
		        <label class="control-label">住所3(任意)</label>
		      	<input type="text" placeholder="住所" name="address3"> 
		      	　　<br><br>
		      	<input type="submit" value="登録"> 
		      	<input type="reset" value="リセット">
		      </form>
		    </fieldset> 			
		</div>
	</div>	
	</body>
</html>