<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
</script>
<link rel="stylesheet" type="text/css" href="/css/Products.css">
<meta charset="UTF-8"  name="viewport" content="width=device-width, initial-scale=1"/>
<title>Products</title>
<style>
#overlay ,#cartOverlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 1;
    left: 1;
    right: 0;
    bottom: 0;
    background-color: rgba(200,200,200,0.8);
    z-index: 2;
    cursor: pointer;
}
</style>
</head>

<!-- 実際の画面表示は以下から -->
<body>
	<!-- 商品詳細モーダルウィンドウでの画面 -->
	<div id="overlay" onclick="off()">
		<div class=detailInfo style="text-align:center;">
			<img class=table1>
			<h1 class=table2></h1>
			<a><h4 class=table3></h4></a>
			<h3 class=table4></h3>
		</div>
	</div>
	
	<!-- カートに入れるモーダルウィンドウでの画面 -->
	<div id="cartOverlay" onclick="off()">
		<div class=intoCart style="text-align:center;">
			<img class=inCart1><br>
			<h4><a class=inCart2></a>をカートに入れました</h4>
			<form action="/Cart" method="get">	
				<div>
				  <input type="submit" value="カートを確認する">
				</div>
			</form>
			
		</div>	
	</div>
	
	<!-- 通常の商品詳細画面 -->	
	<div id="pagebody">
		<p th:text="'こんにちは' + ${reqForm} + '  ククク…'"/>
		<h1>HumanShop Mistake</h1>
		<div>
			<ul id="menu">
				<li><a href="/Cart">カートを見る</a></li>
				<li><a href="/User">マイページ</a></li>
				<li><a href="/User">購入履歴</a></li>
			</ul>
		</div>
		<input type="button" class="delete" value="ちょっと目障りなので画像を消し去る">
		<div>
			<table> 
				<tr th:each="product : ${products}">		
					<td><h2 id=detail th:text="${product.product_name}"></h2></td>	
					<td><img class="face_image" id="10" th:src="${product.image}"></td>
					<td><h3 th:text="${product.price} + '円' "></h3></td>
					<td th:text="'在庫' + ${product.stock_amount} + '　' "></td>
					<td><input type="button" class="details" th:id="${product.product_id}" value="商品詳細"><!-- onClick="on()" --></td>
					<td>&nbsp;&nbsp;<input type="button" class="intoCart" th:id="${product.product_id}" value="カートに入れる"></td>
				</tr>	
			</table>	
		</div>
	</div>

    <br/>
    
<script type="text/javascript" th:inline="javascript">

	var id = "detail";
	function win_open() {
		window.open("detail","","width=200,height=50"); 
	   }
	
	//jQueryで書いたモーダルウィンドウ　商品詳細のボタンごとのIDをここで表示させる
	$('.details').on('click', function() {
		document.getElementById("overlay").style.display = "block";
		var selectNo = $(this).attr('id');//this は、”押されたボタン”を示す
		//alert(selectNo);
		//ajaxボタンの下に表示(成功！)
		$.ajax({
			type : 'GET',
			url : 'getProductsList',
			dataType : 'json',
			data : {zaki: selectNo },//JSON形式で書いてる　：で代入する
			success : function(data) {//サーバーからの値（data)を受け取ってる
				$('.text').html(data);//表示させる場所を指定してる(text　の属性を持つdivに)
				console.log(data);
				$('.table1').attr('src', data[0].image);//第2引数の.imageを、第１引数のsrcにattr(追加)する（つまり、jQueryの属性を追加してる）
				//$('.table1').attr(data[0].image);    //←この場合ソースは表示されない    
				$('.table2').text(data[0].product_name); 
				$('.table3').text(data[0].birthday);     
				$('.table4').text(data[0].detail);	
			},
			error : function(data) {
				alert('errorだっさ');
			}
		});
	});

	
    //カートに入れるボタン
    $('.intoCart').on('click', function() {
		document.getElementById("cartOverlay").style.display = "block";
		var inCart = $(this).attr('id');//this は、”押されたボタン”を示す
		$.ajax({
			type : 'GET',
			url : 'getIntoCart',
			dataType : 'json',
			data : {inCartHuman: inCart },//JSON形式で書いてる　：で代入する
			success : function(data) {//サーバーからの値（data)を受け取ってる
				console.log(data);
				$('.inCart1').attr('src', data[0].image);//第2引数の.imageを、第１引数のsrcにattr(追加)する（つまり、jQueryの属性を追加してる）
				$('.inCart2').text(data[0].product_name);
			},
			error : function(data) {
				alert('errorだっさ');
			}
		});
	});
	function off() {
	    document.getElementById("overlay","cartOverlay").style.display = "none";
	}
	/* function off(){
    	document.getElementById("cartOverlay").style.display = "none";
    } */
	
    
		//サンプルのやつ
	function check() {
		var jsonString = $('form').serializeArray();
		var formData = JSON.stringify(jsonString);
		$.ajax({
			type : 'POST',
			url : 'searchFileInfoJson',//←いわゆる、地図のゴール
			data : JSON.stringify(jsonString),
			contentType : 'application/json',
			datatype : 'json',//受け取るデータの形式
			scriptCharset : 'utf-8',
			success : function(data) {
				alert('「エラー」を表示させる処理が出来てるから、合ってるんやで');
				//console.log(data);
			},
			error : function(data) {
				console.log(data);
			}
		});
	}	

	//目障り画像を消す処理
	$(function() {
		$('.delete').click(function() {
			var isivile = $('.face_image').is(':visible');
			if (isivile == true) {
				$('.face_image').slideUp('slow')
			} else {
				$('.face_image').slideDown('slow')
			}
		});
	});

</script>
</body>
</html>