<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="/css/Products.css">
<meta charset="UTF-8"/>
<title>Products</title>
</head>
<!-- 実際の画面表示は以下から -->
<body>
	<div id="pagebody">
	<!-- <div class="container"> -->
	<h1>HumanShopJapan</h1>
		<div>
		<ul id="menu">
		<li><a href="/Cart">カートを見る</a></li>
		<li><a href="/User">マイページ</a></li>
		<li><a href="/User">購入履歴</a></li>
		</ul>
		</div>
		<form><input type="button" value="商品詳細" onClick="win_open()"></form>
		<script type="text/javascript" th:inline="javascript">
		function win_open() {
		window.open("uenishi","","width=700,height=700"); 
	    }
		</script>	
	<!-- </div>	-->
		<div>
		<table> 
		<tr th:each="product : ${products}">		
		<td th:text="${product.product_name}"></td>
		
		
		
		<td th:text="${product.price} + '円' "></td>
		<td><img th:src="${product.image}"></td>
		<td th:text="${product.stock_amount}"></td>
		
			
	
		</tr>	
		</table>
		</div>
	</div>	
</body>
</html>